
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Tickets Service</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<th:block th:replace="partial/header :: nav"></th:block>
<div class="container">
    <h1>Tickets Service</h1>
    <hr>
    <h2>Update Ticket</h2>

    <form action="#" th:action="@{/saveTicket}" th:object="${ticket}"
          method="POST">

        <input type="hidden" th:field="*{id}" />


        <input type="text" th:field="*{createdDate}"
               placeholder="Created By Date" class="form-control mb-4 col-4">

        <h6 style="color: gray">Created By</h6>
        <div style="display: inline-block;margin-left: 100px;">
            <span style="display: inline-block;width: 130px;">
                <input  type="radio" th:field="*{createdBy}" id="createdBy_admin" placeholder="Created By Name" class="form-control mb-4 col-4" value="ADMIN"/>
                <label for="createdBy_admin">Admin</label>
            </span>

            <span style="display: inline-block;width: 150px;">
                <input type="radio" th:field="*{createdBy}" id="createdBy_user" placeholder="Created By Name" class="form-control mb-4 col-4" value="USER"/>
                <label  for="createdBy_user">User</label>
            </span>
        </div>

        <input type="text" th:field="*{lastModifiedDate}"
               placeholder="Last Modified By Date" class="form-control mb-4 col-4">

        <h6 style="color: gray">Last Modified By</h6>
        <div style="display: inline-block;margin-left: 100px;">
            <span style="display: inline-block;width: 130px;">
                <input  type="radio" th:field="*{lastModifiedBy}" id="lastModifiedBy_admin" placeholder="Created By" class="form-control mb-4 col-4" value="ADMIN"/>
                <label for="createdBy_admin">Admin</label>
            </span>

            <span style="display: inline-block;width: 150px;">
                <input type="radio" th:field="*{lastModifiedBy}" id="lastModifiedBy_user" placeholder="Last Modified By" class="form-control mb-4 col-4" value="USER"/>
                <label  for="createdBy_user">User</label>
            </span>
        </div>

        <input type="text" th:field="*{date}"
               placeholder="Date" class="form-control mb-4 col-4">

        <textarea type="text" th:field="*{description}"
                  placeholder="Add Description" class="form-control mb-4 col-4"></textarea>

        <textarea type="text" th:field="*{comment}"
                  placeholder="Add Comments" class="form-control mb-4 col-4"></textarea>
        <div>
            <label  for="status">Status:</label>
            <input style="margin: 25px 0 25px 25px; width: 200px;" list="status_" name="browser" id="status"  th:field="*{status}">
            <datalist id="status_">
                <option value="OPEN">
                <option value="ASSIGNED">
                <option value="CLOSED">
            </datalist>
        </div>

        <button type="submit" class="btn btn-info col-2"> Update Ticket</button>
    </form>

    <hr>

    <a th:href = "@{/}"> Back to Tickets List</a>
</div>

<th:block th:replace="partial/footer :: footer"></th:block>

</body>
</html>